<?xml version="1.0" encoding="utf-8"?>
<!--
Este arquivo é usado pelo processo empacotar/publicar do seu projeto Web. É possível personalizar o comportamento desse processo
ao editar esse arquivo MSBuild. Para saber mais sobre isso, acesse http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sgb2015.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sgb2015.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SGB2015</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SGB2015</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=c9h7qddo07.database.windows.net;Initial Catalog=sgb2015;Persist Security Info=True;User ID=alencarxx;Password=ABCabc123+_)" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SGB_Beta1.Models.ApplicationDbContext, SGB_Beta1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SGBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=c9h7qddo07.database.windows.net;Initial Catalog=sgb2015;Persist Security Info=True;User ID=alencarxx;Password=ABCabc123+_)" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SGB_Beta1.Models.SGBEntities, SGB_Beta1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=c9h7qddo07.database.windows.net;Initial Catalog=sgb2015;Persist Security Info=True;User ID=alencarxx;Password=ABCabc123+_)</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SGBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SGB.csdl|res://*/Models.SGB.ssdl|res://*/Models.SGB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=c9h7qddo07.database.windows.net;Initial Catalog=sgb2015;Persist Security Info=True;User ID=alencarxx;Password=ABCabc123+_)"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>